.vertical-slider .slick-prev,
.vertical-slider .slick-next {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    border-radius: 50%;
}

.vertical-slider .slick-prev {
    top: 0;
}

.vertical-slider .slick-next {
    bottom: 0;
}

.vertical-slider .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;

}

.slick-slide div{
    width: 6rem;
    height: 9rem;
}


.slick-list{
    width: 6rem;
}