.swiper {
  width: 100px;
  height: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.swiper {
  width: 100px;
  height: 300px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  width: 80%;
  height: auto;
}

.mySwiper {
  width: 20%;
  height: auto;
  box-sizing: border-box;
  padding: 10px 0;
  display: block;
}

.mySwiper .swiper-wrapper {
  display: block;
}

.mySwiper .swiper-slide {
  width: 50%;
  height: 20%;
  border-radius: 4px;
}

.mySwiper .swiper-slide-thumb-active {
  border: 1px solid black;
  border-radius: 4px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin: 0.5rem 0;
}

.mySwiper .swiper-wrapper div {
  width: 8rem !important;
}

.swiper-slide .swiper-slide-visible div {
  width: 7rem;
  height: 9rem;
}

.left-slider {
  width: 10rem;
}
